// 用于 CSS 变量写入

// background-color
$mt-bg-color: rgba(62, 175, 124, .3);
$mt-bg-color-secondary: rgba(62, 175, 124, .2);
$mt-bg-color-tertiary: rgba(62, 175, 124, .1);

// border-color
$mt-border-color: rgba(62, 175, 124, .5);
$mt-border-color-default: #DEDEDE;